@using HairSalonDB.Models
<h1>A Specialty in @Model.GetName()</h1>
<h3>The following stylists have this specialty:</h3>
@foreach(var astylist in @Model.GetStylists())
{
  <h5>@astylist.GetName(): | <a href="/stylists/@astylist.GetId()">See stylist details</a></h5>
}
<form action="/specialty/@Model.GetId()/addStylist" method="post">
  <select class="form-control" id="new-stylist" name="new-stylist">
    @foreach(var astylist in Stylist.GetAll())
    {
      <option value="@astylist.GetId()"> @astylist.GetName()</option>
    }
  </select>
  <button type="submit">Add a new stylist who has this specialty</button>
</form>
<a href='/stylists'>View all stylists</a>
<a href='/client'>View all clients</a>
